/* Apply styles to the entire page */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    height: 100vh;
    background-color: #000000; /* Set the background color for the page */
}

/* Styling for the main container */
#container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
/*     background-color: #87CEEB;  */
    background-color: #6272a4; /* Set the background color for the container */
    
}

/* Styling for question containers */
.question-container {
    width: 100%;
    padding: 20px; /* Adjust the spacing between questions by changing this value */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
}

/* Styling for the questions */
label {
    display: block;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: 30px;
    font-weight: 900;
    white-space: pre-line; /* Keep centered after line break */
    text-align: center; /* Center after line break */
}

/* Styling for dropdowns and buttons */
select {
    margin-bottom: 400px;
    width: 250px;
    padding: 20px;
    font-size: 20px;
    text-align-last: center; /* Center the text inside the drop-down menus */
    border-radius: 10px;
}

/* Styling for the calculate and reset buttons */
button {
    width: auto;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

/* Styling for the results */
#result {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
